/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --primary: #000000;
  --secondary: #ffffff;
}

/* Base Styles */
body {
  background-color: var(--secondary);
  color: var(--primary);
}

img {
  max-width: 100%;
}

.title h1 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  padding: 0.5rem 2rem;
}

.circle {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding: 80px;
  border: 1px solid var(--primary);
  border-radius: 50%;
}

.circle .text p,
.project p,
footer p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.02em;
}

.circle .text p:nth-child(1) {
  font-size: 0.75rem;
  line-height: 15px;
  letter-spacing: 0.48em;
}

.circle .text p + p {
  margin-top: 0.5rem;
}

.project {
  display: flex;
  gap: 0.5rem;
}

.project_01 p {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  align-self: flex-end;
}

.project_02 {
  flex-direction: column;
}

.project_02 p {
  align-self: flex-start;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2.25rem;
}

/* Mobile Styles */
.title h1 {
  font-size: 5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, [col-start] 1fr) [col-end];
  grid-row-gap: 1rem;
}

.container > * {
  grid-column: col-start / col-end;
}

.container .circle {
  justify-self: center;
}

.container .project {
  grid-column: col-start 2 / span 4;
}

/* Tablet Styles */
@media screen and (min-width: 600px) {
  .title h1 {
    font-size: 7rem;
  }
}

/* Laptop Styles */
@media screen and (min-width: 960px) {
  .container {
    grid-template-columns: repeat(12, [col-start] 1fr) [col-end];
    grid-template-rows: auto 1fr auto;
  }

  .title {
    grid-row: 1;
  }

  .container .circle {
    grid-column: col-start 1 / span 4;
    align-self: center;
  }

  .container .project_01 {
    grid-column: col-start 5 / span 5;
    align-self: center;
  }

  .container .project_02 {
    grid-column: span 3 / col-end;
    grid-row: 1 / span 2;
    align-self: start;
    justify-self: end;
  }
}

/* Desktop Styles */
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }

  .title h1 {
    font-size: 9rem;
  }

  .container .project_02 {
    padding: 4.5rem 4.5rem 0 0;
  }
}
